@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);

/* Global styles */
#ajaxRequestLoading {
    background-color: white;
    background-color: rgba(255,255,255,0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

#ajaxRequestLoading span {
    left: 50%;
    background: url('../Content/Images/ajax_loader_gray_48.gif') no-repeat;
    background-position: 12px center;
    background-color: white;
    display: inline-block;
    border: 1px solid #aaa;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: -142px;
    padding: 30px;
    padding-left: 79px;
    font-family: 'Segoe UI', Tahoma;
}

#content {
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#body {
    margin-bottom: 30px;
}

footer.row {
    border-top: 3px solid #C8C8C8;
}

.ui-widget { 
    font-size: 1em; 
}

.field-validation-error, .validation-summary-errors {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #eed3d7;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    color: #b94a48;
    background-color: #f2dede;
}

/* Work Item CreateEdit Form */
.editor-radio label, #daysOfWeek label {
    display: inline;
    padding-right: 10px;
}
.editor-radio input {
    width: 20px;
}

#recurrenceOptions, .patterns, .workItemTypeFieldsets {
    display: none;
}

#createEditForm select {
    width: 150px;
    height: 30px;
    margin: 5px 0 6px 0;
}

#bodyTextArea {
    overflow: auto;
    resize: none;
}

.groupbox {
    border: solid 1px #E2E2E2;
    margin: 0;
    padding: 5px;
}

    .groupbox legend {
        display: block;
        -webkit-padding-start: 5px;
    }

    .groupbox table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 0.0em;
        margin-left: 0.75em;
        border: 0 none;
    }

#recurrenceOptions {
    width: 1000px;
    overflow: hidden;
}
#recurrenceTypes {
    width: 250px;
    float:left;
    padding-left: 5px;
}
#recurrencePatterns {
    float: left;
}

#logoutForm {
    display: inline;
    margin: 0;
}

/* Add top padding for navbar-top-fixed */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #C8C8C8;
}
/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

/* Work Item List */
.taskDone {
    opacity: 0.5;
}

.workItems {
    padding: 10px;
    border-top: 1px solid black;
}
    .workItems #metaData {
        padding: 5px;
    }
    .workItems #metaData div:first-child {
        color: black;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .workItems #metaData div {
        font-size: 16px;
    }
.workItems:hover {
    background-color: #D1E0FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#sortOrderSelect {
    margin-top: 20px;
    margin-bottom: 20px;
}

#filterButtons {
    margin-bottom: 20px;
}

#categoryContainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#categoryContainer ul li { 
    display: inline;
    float: left;
    margin-right: 10px;
}

/* Google maps API */
#map-canvas img, #directions_panel img {
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
}

#navigationProperties input[type="radio"] {
    margin: 0;
}
