@model Navigate.Models.LocalPasswordModel
@{
    ViewBag.Title = "Mainīt paroli";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
