@{
    ViewBag.Title = "Kalendārs";
}

<div id="calendar-wrapper">
    <h2>Kalendārs</h2>
    <div id="calendar"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                editable: true,
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstHour: 9,
                firstDay: 1,
                timeFormat: 'HH:mm{ - HH:mm}',
                axisFormat: 'HH:mm',
                allDayText: 'notiek<br />visu<br />dienu',
                columnFormat: {
                    month: 'ddd', 
                    week: 'ddd M/d',
                    day: 'dddd M/d'
                },
                titleFormat: {
                    month: 'MMMM yyyy',
                    week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",
                    day: 'dddd, MMM d, yyyy'
                },
                buttonText: {
                    prev:     '&lsaquo;', // <
                    next:     '&rsaquo;', // >
                    prevYear: '&laquo;',  // <<
                    nextYear: '&raquo;',  // >>
                    today:    'šodien',
                    month:    'mēnesis',
                    week:     'nedēļa',
                    day:      'diena'
                },
                monthNames: ['Janvāris', 'Februāris', 'Marts', 'Arīlis', 'Maijs', 'Jūnijs', 'Jūlijs',
                    'Augusts', 'Septembris', 'Oktobris', 'Novembris', 'Decembris'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun',
                    'Jūl', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                dayNames: ['Svētdiena', 'Pirmdiena', 'Otrdiena', 'Trešdiena',
                    'Ceturtdiena', 'Piektdiena', 'Sestdiena'],
                dayNamesShort: ['Sv', 'Pr', 'Ot', 'Tr', 'Ct', 'Pk', 'Se'],
                defaultView: "agendaWeek",
                events: "/Calendar/GetEvents",
                select: function (startDate, endDate, allDay, jsEvent, view) {
                    var start = moment(startDate).format("DD-MM-YYYY HH:mm");
                    var end = moment(endDate).format("DD-MM-YYYY HH:mm");
                    var url = "@Html.Raw(@Url.Action("Create", "WorkItem", new { start = "insertStartHere", end = "insertEndHere" }))";
                    url = url.replace("insertStartHere", start);
                    url = url.replace("insertEndHere", end);
                    window.location.href = url;
                },
                selectable: true,
                selectHelper: true,
            })

        });
    </script>
}