@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    #calendar-wrapper {
        text-align: center;
        font-size: 14px;
        font-family: Arial,Helvetica,Arial,Verdana,sans-serif;
    }
    #calendar {
        width: 900px;
        margin: 0 auto;
    }       
</style>
<div id="calendar-wrapper">
    <h2>Calendar</h2>
    <div id="calendar"></div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                editable: true,
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstHour: 9,
                defaultView: "agendaWeek",
                events: "/Calendar/GetEvents",
                dayClick: function (date, allDay, jsEvent, view) {
                    alert("Datums ir " + date);
                },
                selectable: true,
                selectHelper: true,
                color: 'yellow',
                textColor: 'black'
            })

        });
    </script>
}