@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
  <h1>Uzdevumu pārvaldības tīmekļa vietne ar navigācijas atbalstu</h1>
  <hr />
  <p>Kristers Zīmecs, kz11041</p>
</div>

@section Scripts
{
    
}
 