@model Navigate.ViewModels.ReportViewModel

@if (Model.CountOfCompletedInTime == 0
    && Model.CountOfCompletedItems == 0
    && Model.CountOfPlannedItems == 0)
{
    <div class="alert alert-info">
        <strong>Norādītajā laika periodā netika atrasts neviens uzdevums</strong>
    </div>    
}
else
{
    <div id="reportBody">
        <table class="table table-bordered table-striped" style="width: 500px;">
            <tbody>
                <tr>
                    <td>Uzdevumu skaits, kuru izpilde tika ieplānota norādītajā periodā:
                    </td>
                    <td>
                        @Model.CountOfPlannedItems
                    </td>
                </tr>
                <tr>
                    <td>No ieplānotajiem uzdevumiem tika izpildīti:
                    </td>
                    <td>
                        @Model.CountOfCompletedItems
                    </td>
                </tr>
                <tr>
                    <td>No tiem laikā tika izpildīti:
                    </td>
                    <td>
                        @Model.CountOfCompletedInTime
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}